body {
    margin: 0 auto;
    min-height: 100vh;
}

section {
    display: flex;
    min-height: 100vh;

    
}

.nests {
    height: 100;
    width: 0px;
    flex-grow: 1;
    transition: 0.5s ease;
    background-image: url(../imagenes/nests.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.perfil {
    height: 100;
    width: 0px;
    flex-grow: 1;
    transition: 0.5s ease;
    background-image: url(../imagenes/perfil.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


section img {
    height: 100;
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    transition: 0.5s ease;
}

section img:hover {
    width: 300px;
    filter: contrast(120%);
}

.nests:hover {
    width: 300px;
    filter: contrast(120%);
}

.perfil:hover {
    width: 300px;
    filter: contrast(120%);
}