<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <!-- the definitions for the servlets -->
    <servlet>
        <servlet-name>servletNests</servlet-name>
        <servlet-class>nested.controlador.publicarNestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUserServlet</servlet-name>
        <servlet-class>nested.controlador.RegisterUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUserServlet</servlet-name>
        <servlet-class>nested.controlador.LoginUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagenCabeceraServlet</servlet-name>
        <servlet-class>nested.controlador.imagenCabeceraServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>imagenFondoNestServlet</servlet-name>
        <servlet-class>nested.controlador.imagenFondoNestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarPerfilServlet</servlet-name>
        <servlet-class>nested.controlador.ModificarPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarPerfilPublicoServlet</servlet-name>
        <servlet-class>nested.controlador.MostrarPerfilPublicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInscripcion</servlet-name>
        <servlet-class>nested.controlador.ServletInscripcion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSeccionNest</servlet-name>
        <servlet-class>nested.controlador.ServletSeccionNest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarAmigosServlet</servlet-name>
        <servlet-class>nested.controlador.MostrarAmigosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SocialServlet</servlet-name>
        <servlet-class>nested.controlador.SocialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviaSolicitudServlet</servlet-name>
        <servlet-class>nested.controlador.EnviaSolicitudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValorarNestServlet</servlet-name>
        <servlet-class>nested.controlador.ValorarNestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarNest</servlet-name>
        <servlet-class>nested.controlador.ServletEliminarNest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarSolicitudesServlet</servlet-name>
        <servlet-class>nested.controlador.MostrarSolicitudesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AceptarRechazarSolicitudServlet</servlet-name>
        <servlet-class>nested.controlador.AceptarRechazarSolicitudServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUniversidadesServlet</servlet-name>
        <servlet-class>nested.controlador.GetUniversidadesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarContrasenaServlet</servlet-name>
        <servlet-class>nested.controlador.RecuperarContrasenaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterUserServlet</servlet-name>
        <url-pattern>/RegisterUserServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUserServlet</servlet-name>
        <url-pattern>/LoginUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletNests</servlet-name>
        <url-pattern>/servletNests/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagenCabeceraServlet</servlet-name>
        <url-pattern>/imagenCabeceraServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>imagenFondoNestServlet</servlet-name>
        <url-pattern>/imagenFondoNestServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarPerfilServlet</servlet-name>
        <url-pattern>/ModificarPerfilServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarPerfilPublicoServlet</servlet-name>
        <url-pattern>/MostrarPerfilPublicoServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInscripcion</servlet-name>
        <url-pattern>/ServletInscripcion/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSeccionNest</servlet-name>
        <url-pattern>/ServletSeccionNest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarNest</servlet-name>
        <url-pattern>/ServletEliminarNest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarAmigosServlet</servlet-name>
        <url-pattern>/MostrarAmigosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SocialServlet</servlet-name>
        <url-pattern>/SocialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviaSolicitudServlet</servlet-name>
        <url-pattern>/EnviaSolicitudServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValorarNestServlet</servlet-name>
        <url-pattern>/ValorarNestServlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarSolicitudesServlet</servlet-name>
        <url-pattern>/MostrarSolicitudesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AceptarRechazarSolicitudServlet</servlet-name>
        <url-pattern>/AceptarRechazarSolicitudServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUniversidadesServlet</servlet-name>
        <url-pattern>/GetUniversidadesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarContrasenaServlet</servlet-name>
        <url-pattern>/RecuperarContrasenaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>90</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <multipart-config>
        <max-file-size>52428800</max-file-size>
    </multipart-config>
</web-app>
